.side-bar
  .side-bar__user-name
    .name-items
      .name-items__user-name
        = current_user.name
      .name-items__icon
        = link_to new_group_path, class: "edit-btn" do
          = icon('far', 'edit',  class: "edit-btn__icon")
        = link_to edit_user_path(current_user), class: "cog-btn" do
          = icon('fas', 'cog',  class: "cog-btn__icon")
  .side-bar__group-list
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .group
          %p.group__group-name
            = group.name
          %p.group__last-message
            = group.show_last_message

